<div class="row">

    <div class="col-sm">
        Groups will be added later
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="new channel" aria-label="new channel" aria-describedby="basic-addon2" [(ngModel)]="newChannel.name" name="newChannel" id="newChannel">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="createchannel()">Create</button>
                </div>
            </div><br><br>
            <div class="input-group" *ngIf="!isinChannel">
                <div class="row">
                    <button class="btn btn-outline-primary" type="button" *ngFor="let channel of channels" (click)="join(channel)">{{channel.name}}</button>
                </div>
            </div>
            <div *ngIf="isinChannel">
                <button  (click)="leavechannel()" class="btn btn-danger">Leave {{channelslist.name}}</button>
            </div>
            
        </form>
    </div>
    <div class="col-sm" *ngIf="isinChannel">
        <form>
            <div class="form-channel" >
                <br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="message" aria-label="message" aria-describedby="basic-addon2" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" *ngIf="isinChannel" (click)="chat()">Send</button>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li *ngFor="let message of allMessages" class="list-group-item list-group-item-primary">
                    {{message.user}}: {{message.message}}
                </li>
            </ul>
        </form>
        
    </div>
    <div class="col-sm">
        <br>
        <ul class="list-group">
            <li class="list-group-item active">Current Channel</li>
            <li class="list-group-item">
                {{currentchannel.name}}
            </li>
        </ul>
        <br>
        <ul class="list-group">
            <li class="list-group-item active">Active Users</li>
            <li class="list-group-item">
                {{numusers}}
            </li>
        </ul>
        <br>
        <ul class="list-group">
            <li class="list-group-item active">New Messages</li>
            <li *ngFor="let message of messages" class="list-group-item">
                {{message.user}}: {{message.message}}
            </li>
        </ul>
        <br>
        <ul class="list-group">
            <li class="list-group-item active">Notices</li>
            <li class="list-group-item">
                {{channelnotice}}
            </li>
        </ul>
        <button (click)="clearnotice()" class="btn btn-danger">Clear Notice</button>
    </div>
</div>


