<div class="row">
    <div class="col-sm">
      Groups
    </div>
    <div class="col-sm">
        <form>
            <label for="newChannel">New Channel</label>
            <input type="text" [(ngModel)]="newChannel" name="newChannel" id="newChannel" class="form-control"><br>
            <button (click)="createchannel()" class="btn btn-info">Create New Channel</button><br><br>
            
            <select [(ngModel)] = "channelslist" name="channelslist">
                <option [ngValue]="null">Select Channel</option>
                <option *ngFor="let channel of channels">
                    {{channel}}
                </option>
            </select>
            <br>
            <div>
                <button *ngIf="!isinChannel" (click)="join()" class="btn btn-secondary">Join</button>&nbsp;
                <button *ngIf="isinChannel" (click)="leavechannel()" class="btn btn-danger">Leave</button>
            </div>
            
        </form>
    </div>
    <div class="col-sm">
        <form>
            <div class="form-channel" *ngIf="isinChannel">
                <label for="messagecontent">New Message</label>
                <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control">
        
            </div>
            <button *ngIf="isinChannel" (click)="chat()" class="btn btn-primary">Chat</button> &nbsp;
            <ul>
            <li *ngFor="let message of allMessages">
                {{message.message}} - {{message.user}}
            </li>
        </ul>
        </form>
        
    </div>
    <div class="col-sm">
        <h3>
            Notices
        </h3>
        {{channelnotice}}<br>
        <button (click)="clearnotice()" class="btn btn-danger">Clear Notice</button><br>
        <h3>Chat Messages for {{currentchannel}} - {{numusers}} Active Users</h3>
        <ul>
            <li *ngFor="let message of messages">
                {{message.message}} - {{message.user}}
            </li>
        </ul>
    </div>
</div>


